<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageReciepe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DAEA821B1D8968BD003A6A4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAEA82341D8968BD003A6A4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAEA823F1D8968BD003A6A4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
